/** Import Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

/** Variables **/

:root {

    /** Font families **/
        --ff: font-family: "Hanken Grotesk", serif;
        --fw-500: 500;
        --fw-700: 700;
        --fw-800: 800;

    /** Font size **/

        --fs: 18px;

    /** Colors **/
        --lght-red: hsl(0, 100%, 67%);
        --org-yllw: hsl(39, 100%, 56%);
        --grn-teal: hsl(166, 100%, 37%);
        --clbt-blue: hsl(234, 85%, 45%);

        /** Gradients Colors **/
        --lite-slate-blue:  hsl(252, 100%, 67%);
        --lite-royal-blue:  hsl(241, 81%, 54%);
        --lite-pers-blue:hsla(241, 72%, 46%, 0);
        --lite-vio-blue: hsla(256, 72%, 46%, 1);

        /** Neutrals **/
        --white: hsl(0, 0%, 100%);
        --pale-blue: hsl(221, 100%, 96%);
        --lite-lav: hsl(241, 100%, 89%);
        --drk-gry-blu: hsl(224, 30%, 27%);

        /** 100 width-height **/

        --100-vw: 100vw;
        --100-vh: 100vh;
}

@media  screen and (max-width: 375px) {
        /** General styles **/



body {
    font-family: var(--ff);
    width: var(--100-vw);
    min-height: var(--100-vh);
    font-size: var(--fs);
    display: flex;
    flex-direction: column;
}



/** main wrapper **/

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 95vh;
}

/** general styles **/
.left-wrapper, .right-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.left-header-wrapper h4, .left-flat-score, .left-text-wrapper p{
    opacity: 0.75;
}
/** left wrapper **/

.left-wrapper {
    justify-content: space-around;
    text-align: center;
    color: var(--pale-blue);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: 900;
    outline: 1px solid red;
    height: 45%;
    background: linear-gradient(to top, var(--lite-royal-blue) 50%, var(--lite-slate-blue));
}

/** left header  **/
.left-header-wrapper {
    font-weight: normal;
}


/* left outter circle */

.left-outter-circle-wrapper {
    inset: 1px 1px 1px 1px;
    outline: 1px solid invert;
    margin: 0 auto;
    width: 35%;
    height: 15vh;
    border-radius: 50%;
    background: linear-gradient(to top, var(--lite-royal-blue) 50%, var(--lite-slate-blue));
}

/* left inner circle  */

.left-inner-circle-wrapper {
    margin: 0 auto;
    width: 50%;
    height: 15vh;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-bold-score {
    font-size: calc(var(--fs) * 2);
    font-weight: 900;
}

.left-flat-score {
    font-size: calc(var(--fs) / 1.25);
    opacity: 0.75;
    font-weight: 900;
}

/* left text wrapper  */

.left-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    padding: 0.625rem; 
    font-size: calc(var(--fs) / 1.55);
}

.left-text-wrapper  h4 {
    font-size: calc(var(--fs) * 1.5);

}


/* right side wrapper  */

.right-wrapper {
    width: 85%;
    margin: 1rem auto;
    height: 60%;
    gap: 1rem;
}

/* right header  */

.right-header-wrapper {
    height: fit-content;
    align-self: flex-start;

}

.right-header-wrapper h4 {
    letter-spacing: 0.125rem;
}

/* right result  */

.right-result-wrapper {
    align-self: center;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}

.right-result-flex-items {
    border-radius: 11px;
    width: 100%;
    height: 22%;
    outline: 1px solid;
    padding: 0.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
}

/* Colors */
.red {
    background-color: hsla(0, 100%, 67%, 0.15);
}

.red-txt {
    color: hsl(0, 100%, 67%);
}

.yellow {
    background-color: hsla(39, 100%, 56%, 0.15);
}

.yell-txt {
    color: hsl(39, 100%, 56%);
}


.blue {
    background-color: hsl(234, 85%, 45%, 0.15);
}

.ble-txt {
    color: hsl(234, 85%, 45%);
}

.green {
    background-color: hsl(166, 100%, 37%, 0.15);
}

.grn-txt {
    color: hsl(166, 100%, 37%);
}

.bold {
    font-weight: 550;
}

.flat {
    font-weight: 200;
    color: grey;
}



/* button wrapper  */

.right-btn-wrapper {
    height: fit-content;
    width: 100%;
    margin: 1rem auto;
}

.right-btn-wrapper button {
    width: 100%;
    border-radius: 25px;
    border: none;
    padding: 1rem;
    background-color: var(--drk-gry-blu);
    color: var(--pale-blue);
}

/* footer */

footer {
    text-align: center;
    font-size: calc(var(--fs) / 1.3);
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


}

@media  screen and (min-width: 376px) and (max-width: 1440 px) {

    body {
        position: relative;
        min-height: 100vh;
        width: 100vw;
    }

    .main-wrapper {
       width: 80%;
       height: 100%;
       position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       margin: auto;
       border-radius: 25px;
       display: grid;
       grid-template-columns: 1fr 1fr;
       box-shadow: 5px 5px 5px 5px var(--pale-blue);
       overflow: hidden;
    }

    .left-wrapper, .right-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .left-wrapper {
        justify-content: space-around;
        text-align: center;
        height: 100%;
        color: var(--pale-blue);
        border-radius: 25px;
        font-weight: 900;
        background: linear-gradient(to top, var(--lite-royal-blue) 50%, var(--lite-slate-blue));
    }

    /** left header  **/
.left-header-wrapper {
    font-weight: normal;
}


/* left outter circle */

.left-outter-circle-wrapper {
    inset: 1px 1px 1px 1px;
    outline: 1px solid invert;
    margin: 0 auto;
    width: 50%;
    height: auto;
    border-radius: 50%;
    background: linear-gradient(to top, var(--lite-royal-blue) 50%, var(--lite-slate-blue));
}

/* left inner circle  */

.left-inner-circle-wrapper {
    margin: 0 auto;
    width: 50%;
    height: 15vh;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-bold-score {
    font-size: calc(var(--fs) * 2);
    font-weight: 900;
}

.left-flat-score {
    font-size: calc(var(--fs) / 1.25);
    opacity: 0.75;
    font-weight: 900;
}

/* left text wrapper  */

.left-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    padding: 0.625rem; 
    font-size: calc(var(--fs) / 1.55);
}

.left-text-wrapper  h4 {
    font-size: calc(var(--fs) * 1.5);

}





/* right side wrapper  */

.right-wrapper {
    width: 100%;
    margin: 1rem auto;
    height: 60%;
    gap: 1rem;
    padding: 1rem;
}

/* right header  */

.right-header-wrapper {
    height: fit-content;
    align-self: flex-start;

}

.right-header-wrapper h4 {
    letter-spacing: 0.125rem;
}

/* right result  */

.right-result-wrapper {
    align-self: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.5rem;
    gap: 1rem;
}

.right-result-flex-items {
    border-radius: 11px;
    width: 100%;
    height: 22%;
    outline: 1px solid;
    padding: 0.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
}

/* Colors */
.red {
    background-color: hsla(0, 100%, 67%, 0.15);
}

.red-txt {
    color: hsl(0, 100%, 67%);
}

.yellow {
    background-color: hsla(39, 100%, 56%, 0.15);
}

.yell-txt {
    color: hsl(39, 100%, 56%);
}


.blue {
    background-color: hsl(234, 85%, 45%, 0.15);
}

.ble-txt {
    color: hsl(234, 85%, 45%);
}

.green {
    background-color: hsl(166, 100%, 37%, 0.15);
}

.grn-txt {
    color: hsl(166, 100%, 37%);
}

.bold {
    font-weight: 550;
}

.flat {
    font-weight: 200;
    color: grey;
}



/* button wrapper  */

.right-btn-wrapper {
    height: fit-content;
    width: 100%;
    margin: 1rem auto;
}

.right-btn-wrapper button {
    width: 100%;
    border-radius: 25px;
    border: none;
    padding: 1rem;
    background-color: var(--drk-gry-blu);
    color: var(--pale-blue);
}

/* footer */

footer {
    text-align: center;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: calc(var(--fs) / 1.3);
}   





}