/** Import Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

/** Variables **/

:root {

    /** Font families **/
        --ff: font-family: "Hanken Grotesk", serif;
        --fw-500: 500;
        --fw-700: 700;
        --fw-800: 800;

    /** Font size **/

        --fs: 18px;

    /** Colors **/
        --lght-red: hsl(0, 100%, 67%);
        --org-yllw: hsl(39, 100%, 56%);
        --grn-teal: hsl(166, 100%, 37%);
        --clbt-blue: hsl(234, 85%, 45%);

        /** Gradients Colors **/
        --lite-slate-blue:  hsl(252, 100%, 67%);
        --lite-royal-blue:  hsl(241, 81%, 54%);
        --lite-pers-blue:hsla(241, 72%, 46%, 0);
        --lite-vio-blue: hsla(256, 72%, 46%, 1);

        /** Neutrals **/
        --white: hsl(0, 0%, 100%);
        --pale-blue: hsl(221, 100%, 96%);
        --lite-lav: hsl(241, 100%, 89%);
        --drk-gry-blu: hsl(224, 30%, 27%);
}

/** General styles **/


body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--white);
    font-family: var(--ff);
    position: relative;
}

.attribution { 
    font-size: 1rem; 
    text-align: center; 
    position: fixed;
    bottom: 0; 
    left: 0; 
    margin: 0 auto;
    width: 100%;
    };

    .attribution a  { 
        color: hsl(228, 45%, 44%);
    
    }

    .left-wrapper, .right-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        place-content: center;
        border-radius: 10px;
    }

    .flat {
        font-weight: normal;
        color: rgb(167, 163, 163);
    }

    .drk-txt {
        color: var(--drk-gry-blu);
    }

    /** Large screens **/

    @media  screen and (max-width: 1440px) {

        /** Main wrapper css **/

.main-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-height: 400px;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0px 5px 7px 2px var(--lite-lav);
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/** left wrapper css **/

.left-wrapper {
    background: linear-gradient(to top, var(--lite-royal-blue), var(--lite-slate-blue));
    color: var(--lite-lav);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.left-header-wrapper  {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;

}

.left-overall-score-wrapper {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left-outter-circle-wrapper {
    width: 50%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(to top, var(--lite-pers-blue),  var(--lite-royal-blue), var(--lite-vio-blue));
    position: relative;
}

.left-inner-circle-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
}

.left-bold-score span {
    font-size: 2.5rem;
    color: var(--white);
    font-weight: 800;
    font-size-adjust: auto;
}

.left-flat-score {
    font-weight: 500;
    color: inherit;
    font-size: 0.9rem;
}

.left-text-wrapper {
    width: 75%;
    margin-top: -1rem;
}

.left-text-wrapper header {
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 800;
}

    /** Right side css **/

    .right-wrapper {
        justify-content: space-around;
        padding: 1rem;
    }

    .right-header-wrapper {
        text-align: left;
        width: 100%;
    }

    .right-header-wrapper h4 {
        font-size: 1.5rem;
    }

    

    .right-result-wrapper {
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;
    }

    .right-result-flex-items {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 25%;
        border-radius: 10px;
    }

    .bold {
        font-weight: 550;
    }

    .red {
        color: var(--lght-red);
        background-color: hsla(0, 100%, 67%, 0.2);
    }

    .yellow {
        color: var(--org-yllw);
        background-color: hsla(39, 100%, 56%, 0.2);
    }

    .green {
        color: var(--grn-teal);
        background-color: hsla(166, 100%, 37%, 0.2);
    }

    .blue {
        color: var(--clbt-blue);
        background-color: hsla(234, 85%, 45%, 0.2);
    }


    /** Button css **/

    .right-btn-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right-btn-wrapper button {
        width: 75%;
        padding: 0.5rem;
        border-radius: 25px;
        color: var(--white);
        background-color: var(--drk-gry-blu);
        border: none;
    }


}


