/** Import Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

/** Variables **/

:root {

    /** Font families **/
        --ff: font-family: "Hanken Grotesk", serif;
        --fw-500: 500;
        --fw-700: 700;
        --fw-800: 800;

    /** Font size **/

        --fs: 18px;

    /** Colors **/
        --lght-red: hsl(0, 100%, 67%);
        --org-yllw: hsl(39, 100%, 56%);
        --grn-teal: hsl(166, 100%, 37%);
        --clbt-blue: hsl(234, 85%, 45%);

        /** Gradients Colors **/
        --lght-slate-blue:  hsl(252, 100%, 67%);
        --lght-royal-blue:  hsl(241, 81%, 54%);
        --lght-pers-blue:hsla(241, 72%, 46%, 0);
        --lght-vio-blue: hsla(256, 72%, 46%, 1);

        /** Neutrals **/
        --white: hsl(0, 0%, 100%);
        --pale-blue: hsl(221, 100%, 96%);
        --lght-lav: hsl(240, 19%, 86%);
        --drk-gry-blu: hsl(224, 30%, 27%);
}

/** General styles **/


body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--white);
    font-family: var(--ff);
    font-weight: var(--fw-500);
    position: relative;
}

.attribution { 
    font-size: 1rem; 
    text-align: center; 
    position: fixed;
    bottom: 0; 
    left: 0; 
    margin: 0 auto;
    width: 100%;
    };

    .attribution a  { 
        color: hsl(228, 45%, 44%);
    
    }

    .left-wrapper, .right-wrapper {
        width: 100%;
        display: grid;
        place-content: center;
        border-radius: 10px;
    }
/** Main wrapper css **/

.main-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 60vh;
    width: 60vw;
    border-radius: 10px;
    box-shadow: 0px 5px 7px 2px var(--lght-lav);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
